::selection {
  background-color: #bb8c4b;
}

a {
  color: #bb8c4b;
}

a:hover {
  color: #99713a;
}

a:focus {
  color: #99713a;
}

a:active {
  color: #99713a;
}

.text-theme {
  color: #bb8c4b;
}

.higlighted-style1 {
  background-color: #bb8c4b;
}

.higlighted-style3 {
  color: #bb8c4b;
}

.color-theme {
  color: #bb8c4b !important;
}

.border-all {
  border-color: #bb8c4b;
}

.border-top {
  border-top-color: #bb8c4b;
}

.border-bottom {
  border-bottom-color: #bb8c4b;
}

.border-right {
  border-right-color: #bb8c4b;
}

.border-left {
  border-left-color: #bb8c4b;
}

.bg-theme {
  background-color: #bb8c4b !important;
}

.bg-overlay-theme:before {
  background-color: #bb8c4b;
}

.btn--primary {
  background-color: #bb8c4b;
  border-color: #bb8c4b;
}

.btn--primary:active,
.btn--primary:focus,
.btn--primary:hover {
  background-color: #9a7543;
  border-color: #9a7543;
}

.bg-dark .btn--primary:active,
.bg-dark .btn--primary:focus,
.bg-dark .btn--primary:hover {
  color: #bb8c4b;
}

.btn--primary.btn--inverse:active,
.btn--primary.btn--inverse:focus,
.btn--primary.btn--inverse:hover {
  color: #bb8c4b;
}

.btn--dark:active,
.btn--dark:focus,
.btn--dark:hover {
  background-color: #bb8c4b;
  border-color: #bb8c4b;
}

.btn--bordered.btn--primary {
  color: #bb8c4b;
  border-color: #bb8c4b;
}
.btn--bordered.btn--primary:active, .btn--bordered.btn--primary:focus, .btn--bordered.btn--primary:hover {
  background-color: #bb8c4b;
  border-color: #bb8c4b;
}

.form-control:focus {
  border-color: #bb8c4b;
}

.backtop {
  background-color: #bb8c4b;
}

.heading-icon {
  color: #bb8c4b;
}

.heading-18 .heading-title {
  color: #bb8c4b;
}

.heading .heading-divider2:before {
  background-color: #bb8c4b;
}

.heading .heading-divider3:before {
  background-color: #bb8c4b;
}

.heading .heading-divider3:after {
  background-color: #bb8c4b;
}

.heading .heading-divider4:before {
  background-color: #bb8c4b;
}

.page-loader .loader {
  border-left-color: #bb8c4b;
}

@media only screen and (min-width: 992px) {
  ul.mega-menu li ul li span {
    color: #bb8c4b;
  }

  .mega-dropdown-menu .container a[href="#"] {
    color: #bb8c4b;
  }
}
.module-btn .btn {
  background-color: #bb8c4b;
  border-color: #bb8c4b;
}
.module-btn .btn:hover {
  background-color: #9a7543;
  border-color: #9a7543;
}
.module-btn .btn.btn-transparent:hover {
  color: #bb8c4b;
}
.module-btn .btn.btn-white {
  color: #bb8c4b;
}

.hero-10:before {
  background-color: #bb8c4b;
}

.hero-13 .feature-panel .feature-data h4 {
  color: #bb8c4b;
}

.hero-18 .text-panel h4 {
  color: #bb8c4b;
}

.hero-20 .scroll--down-btn:hover {
  background-color: #bb8c4b;
}

.hero-24 .hero-subheadline {
  color: #bb8c4b;
}

.feature-panel .feature-icon {
  color: #bb8c4b;
}

.feature-left-circle .feature-panel .feature-icon {
  background-color: #bb8c4b;
}

.feature-4 .feature-panel .feature-icon {
  background-color: #bb8c4b;
}

.feature-16 .feature-panel .feature-icon {
  color: #bb8c4b;
}

.pricing-panel .pricing-heading h4 {
  color: #bb8c4b;
}

.pricing-1 .price-table-2 .pricing-heading {
  background-color: #bb8c4b;
}
.pricing-1 .price-table-2 .pricing-top {
  background-color: #bb8c4b;
}

.pricing-3 .price {
  color: #bb8c4b;
}

.pricing-5 .btn--bordered.btn--primary:hover {
  border-color: #bb8c4b;
}

.pricing-7 .table td.buy a {
  color: #bb8c4b;
}
.pricing-7 .pricing-icon a {
  color: #bb8c4b;
}

.carousel-navs .owl-controls .owl-nav [class*=owl-]:hover {
  color: #bb8c4b;
}

.pormo-builder .title .title-subheading p {
  color: #bb8c4b;
}
.pormo-builder .title .title-heading h2 span {
  color: #bb8c4b;
}
.pormo-builder .title .title-heading .typed-content:before {
  background-color: #bb8c4b;
}
.pormo-builder .title .title-action .btn:hover {
  color: #bb8c4b;
}
.pormo-builder .builder-img {
  transition: transform 0.2s ease-out;
  position: relative;
  display: block;
}
.pormo-builder .builder-img img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.landing-footer .footer-bottom a:hover {
  color: #bb8c4b;
}

.section-wrapper .markup-wrapper .modal-header {
  background: #bb8c4b;
}
.section-wrapper .markup-wrapper .modal-header .modal-body .btn-clipboard {
  background-color: #bb8c4b;
}

.contact-4 .features-list li:before {
  color: #bb8c4b;
}

.contact-8 .form-control:focus {
  border-color: #bb8c4b;
}

.contact-9 .form-control:focus {
  border-color: #bb8c4b;
}

.contact-11 .form-control:focus {
  border-color: #bb8c4b;
}

.video--player:hover {
  background-color: #bb8c4b;
}

.video-12 .view--more {
  color: #bb8c4b;
}

.banner-7 .divider--theme:before,
.banner-7 .divider--theme:after {
  background-color: #bb8c4b;
}

.team-3 .member-info h6 span {
  color: #bb8c4b;
}
.team-3 .member-donate {
  background-color: #bb8c4b;
}

.tabs .nav-tabs > li.active > a h3,
.tabs .nav-tabs > li.active > a:focus h3,
.tabs .nav-tabs > li.active > a:hover h3,
.tabs .nav-tabs > li.active > a i,
.tabs .nav-tabs > li.active > a:focus i,
.tabs .nav-tabs > li.active > a:hover i {
  color: #bb8c4b;
}

.skills .progress-bar {
  background-color: #bb8c4b;
}

.portfolio-filter li a:hover,
.portfolio-filter li a a.active-filter {
  color: #bb8c4b;
}

/* Portfolio Item */
.portfolio-item .portfolio-title h4 a:hover {
  color: #bb8c4b;
}

.timeline-content:before {
  background-color: #bb8c4b;
}

.timeline-content:after {
  border-top-color: #bb8c4b;
}

.timeline-content .timeline-panel:before {
  border-color: #bb8c4b;
}

.countdown-heading {
  background-color: #bb8c4b;
}

.count-down-1 .heading .heading-subtitle {
  color: #bb8c4b;
}

.course--price {
  background-color: #bb8c4b;
}

.screenshoot-4 .instagram--icon {
  color: #bb8c4b;
}
.screenshoot-4 .instagram--icon a {
  color: #bb8c4b;
}

.count-box .counting-icon {
  color: #bb8c4b;
}

.counter-1 .count-box a.btn:hover {
  background-color: #bb8c4b;
}

.property-item .property--info .price {
  color: #bb8c4b;
}

.services-3 .service-panel h3:hover {
  color: #bb8c4b;
}

.services-4 .service-panel p span {
  color: #bb8c4b;
}

.modal button.close:hover {
  color: #bb8c4b;
}

.popup-2 .heading-icon {
  background-color: #bb8c4b;
}

.switcher-screenshoots li .screenshoot-overlay {
  background-color: rgba(187, 140, 75, 0.9);
}

/*# sourceMappingURL=theme-brown.css.map */
